html, body {
  height: 100%;
  width: 100%;
}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
  width: 100%;
  background: #1abc9c;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 12px;
  cursor: pointer;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
  flex-direction: row;
  align-items: center;
}

.weekdays li {
  color: #666;
  flex: 1;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 14.2%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.active {
  padding: 5px 0;
  background: #1abc9c;
  color: white !important
}
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin: 0 5px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
#calander {
  position: absolute;
  display: none;
}
#cselector span {
  color: white;
  font-size: 12px;
}
.overlayoption {
  position: absolute; 
  background: white; 
  padding: 5px 0;
  display: none;
}
.overlayoption > li {
  color: black  !important; 
  padding: 5px;
}
.overlayoption li:hover {
  background-color: #1abc9c;
}